{{!-- About Section Start --}}
 <div class="container-fluid mt-5 about-style" id="aboutid">
   <div class="row">
   <div class="col-md-10 col-12 mx-auto">
     <h class="text-center main-heading">About Us</h>
     <p class="text-center sub-heading">grow your business with</p>
   <div class="row">
<div class="col-md-6 col-12 hero-text">
    <figure>
      <img src="Images/about.jpg" alt="herosection_image">
    </figure> 
</div>
  
    {{!-- Right side --}}
<div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
<h1>WE Are The Professional Developer</h1>
 <p> Welcome To <span class="bold-style">Umesh Technical</span>
   ,A successful website does three things:It attracts the right kinds of visitors.Guides them to the main services or product you offer.Collect Contact details for future ongoing relation.</p>
   <button class="btn-style btn-primary">Read More</button>

   </div>
   </div>
   </div>
   </div>
   </div>
   {{!-- About Section Ends --}}

   

