<div class="container-fluid mt-5 about-style" id="serviceid">
   <div class="row">
   <div class="col-md-10 col-12 mx-auto">
     <h class=" text-center main-heading">Our Services</h>
     <p class="text-center sub-heading">grow your business with</p>
   <div class="row">

 <div class="card-columns">
    <div class="card bg-primary">
      <div class="card-body text-center">
         <img src="Images/service1.jpeg" alt="">
      </div>
    </div>

    <div class="card bg-warning">
      <div class="card-body text-center">
  <img src="Images/service2.jpeg" alt="">
      </div>
    </div>

    <div class="card bg-success">
      <div class="card-body text-center">
        <img src="Images/service3.jpg" alt="">
      </div>
    </div>

    <div class="card bg-danger">
      <div class="card-body text-center">
        <img src="Images/service4.jpg" alt="">
      </div>
    </div>  

    <div class="card bg-light ">
      <div class="card-body text-center">
         <img height="" src="Images/service5.jpg" width= "80px" height="300px" alt="">
      </div>
    </div>

    <div class="card bg-info">
      <div class="card-body text-center">
       <img width="80px" height="300px" src="Images/service6.jpg"  alt="">
      </div>
    </div>
  </div>
</div>
  

</div>
 </div>
</div>
   </div>
   </div>
   </div>
   </div>