*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
li ,p,a{
    font-size: 1.6rem;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.5rem;
}
h3{
    font-size: 3rem;
}
.row{
    margin: 0;
}
.navbar-style{
    background-color: #f8f9fa;
    box-shadow: 2px 4px 13px 1px rgba(8, 8,8,0.04);
}
#logo{
    /* float: left; */
    display: initial;
    font-weight: 600;
    font-size: 3.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: rosybrown;
    text-shadow: 2px 5px 3px rgba(0, 0,0,0.06);
   padding: 0 ;
}
.navbar-light .navbar-nav .nav-link{
    color: #525252;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    padding-left: 1rem;
    font-size: 1.9rem;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fd5c63;
}
/* hero section */
.hero-text h1{
    font-size: 5.5rem;
    line-height: 1.5;
    text-shadow: 5px 4px 11px rgba(0, 0,0, 0.26);
    letter-spacing: 1px;
    color: #2f2f2f;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.hero-text h1:nth-child(2){
    font-weight: bold;
    color: #5222d0;
}
.hero-text p,.our-services p,label{
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    color: #777676;
    text-transform: capitalize;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}
.hero-text p span{
    font-weight: bold;
    color: #000;
}
.btn-style{
    padding: 12px 7px;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #fff;
    background: #ec615b;
    /* -webkit-transition:0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all; */
}
img{
height: 400px;
 width: 500px;
}
/* About us Style */
.about-style {
 margin: 10rem 0;
}

.main-heading{
text-align:right;
font-size: 2.5rem;
font-weight: bold;
float: left;
}



/* Ou Services */
.our-services:hover h4 ,
.our-services:hover p{
    color: #fff;
}
.speedup:hover{
    box-shadow: 0 0 25px 0 rgba(33, 39,221, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #f33474 0% , #f55b2a 50%);
}
